.maindiv{
background-color:#FFFFFF;
margin:32px 24px 15px 24px;
padding:32px 32px;
}

#master_reset{
	background-color:#004b70;
	font-size:17px;
color: white;
}

#small{
font-size:10px;
}

select{
      padding: 0px 2px 1px 8px;

}
textarea{
border-width:4px;
border:1px solid #a4aab0
}
body{
font-weight: bold;
font-size:16px;
color:#333;
background-color:#e6e8ea;
border-radius: 2px;
background-clip: border-box;
font-family:"Segoe UI"

}

button {
  background-color:#c5c5c5;
  border: none;
  font-weight:bold;
  color: #333;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
border: 0.25px  ;
box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
}

.





/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #8baebe; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 6px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 21px; /* Increase font size */
  transparent:25%;
}

#myBtn:hover {
  background-color: #69a8c5; /* Add a dark-grey background on hover */
}